html, body {
    font-family: 'Garamond', serif;
    margin: 0;
    padding: 0;
    background: #f1f1f1;
}

.header {
    background-color: #929090; 
    padding: 20px;
    text-align: center;
}

#navigator ul {
    list-style-type: none;
    padding: 0;
}

#navigator ul li {
    display: inline;
    margin: 0 10px;
}

#navigator ul li a {
    text-decoration: none;
    color: #333;
}

#navigator a:hover{
    background-color: #fadef7;
    color: black;
    max-width: 100%;
    padding: 5px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 15px;
}

.info {
    background-color: #faebeb; 
    padding: 20px;
    margin-top: 20px;
}

.leftColumn {
    float: left;
    width: 75%;
}

.rightColumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

.card {
    background-color: rgb(224, 210, 212);
    padding: 20px;
    margin-top: 20px;
    height: 20vh;
    width: 40vh;
    padding: 0;
}


.banner {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    text-align: center;
    bottom: 0;
}
